// bower:scss
// endbower

@import "../bower_components/angular-material/angular-material";

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

md-list-item.md-active {
  &, md-icon {
    color: rgb(3,169,244);
  }
  background-color: #ebebeb;
}

.md-button.active {
  color: #fff;
}

#mix-layer-a {
  .md-button.active {
    background-color: #f00;
  }
}

#mix-layer-b {
  .md-button.active {
    background-color: #009100;
  }
}