<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-app="voctomixWebApp">
    <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <div layout="row" style="height: 100%" ng-controller="MainCtrl">
      <div flex></div>
      <div layout="row" layout-wrap style="max-width: 960px; width: 100%">
        <div flex-gt-sm="60">
          <md-subheader>A mix</md-subheader>
          <div id="mix-layer-a">
            <md-button class="md-raised" ng-click="select_source('a', name)" ng-class="state.a == name ? 'active':''" ng-repeat="name in topo.sources">{{name}}</md-button>
          </div>
          <md-subheader>B mix</md-subheader>
          <div id="mix-layer-b">
            <md-button class="md-raised" ng-click="select_source('b', name)" ng-class="state.b == name ? 'active':''" ng-repeat="name in topo.sources">{{name}}</md-button>
          </div>
        </div>
        <div flex-gt-sm="40">
          <md-list>
            <md-subheader>Mix mode</md-subheader>
            <md-list-item ng-repeat="mode in mix_modes"
                          ng-class="state.composite_mode == mode.ident ? 'md-active':''"
                          ng-click="set_composite_mode(mode.ident)">
              <md-icon class="material-icons">{{ mode.icon }}</md-icon>
              <p>{{ mode.name }}</p>
            </md-list-item>
            <md-divider></md-divider>
            <md-subheader>Stream blanking</md-subheader>
            <md-list-item>
              <md-icon class="material-icons">cloud</md-icon>
              <p>Stream on</p>
            </md-list-item>
            <md-list-item>
              <md-icon class="material-icons">cloud_off</md-icon>
              <p>Stream off</p>
            </md-list-item>
          </md-list>
        </div>
      </div>
      <div flex></div>
    </div>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-messages/angular-messages.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-material/angular-material.js"></script>
    <!-- endbower -->
    <!-- endbuild -->
    <script src="bower_components/angular-noVNC/dist/angular-noVNC.js"></script>

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <!-- endbuild -->
</body>
</html>
